{% extends "auctions/layout.html" %}

{% block title %} Watchlist {% endblock %}

{% block body %}
<br><br>
<div class="flex-container main-container">
    {% if message %}
    <div class="alert alert-info">
        <strong>Info!</strong> {{ message }}
    </div>
    {% endif %}
    <h1 class="heading main-heading">Watchlist</h1>
    <div class="flex-container row">
        {% for item in items %}
        <div class="flex-container col-lg-4 border">
            <a class="col-link" href="{% url 'listingDetail'  item.title %}">
                <img class="col-img" src="{{item.image}}" height="200" alt="image">
                <div class="flex-container col-bottom">
                    <h6 class="heading col-title">{{ item.title }}</h6>
                    <span class="col-price">${{ item.startingBid }}</span>
                    <form action="{% url 'removeFromWatchlist' item.title %}" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Remove">
                    </form>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}